<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>VG</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ServletUploadVideo</servlet-name>
        <url-pattern>/ServletUploadVideo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HEADER</servlet-name>
        <servlet-class>servlet.include.header</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FOOTER</servlet-name>
        <servlet-class>servlet.include.footer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIDEBAR</servlet-name>
        <servlet-class>servlet.include.SideBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INDEX</servlet-name>
        <servlet-class>servlet.page.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CONNEXION</servlet-name>
        <servlet-class>servlet.page.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INSCRIPTION</servlet-name>
        <servlet-class>servlet.traitement.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>servlet.page.Profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarreDeRecherche</servlet-name>
        <servlet-class>servlet.traitement.BarreDeRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletConnexion</servlet-name>
        <servlet-class>servlet.traitement.servletConnexion </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUploadVideo</servlet-name>
        <servlet-class>servlet.traitement.ServletUploadVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HEADER</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIDEBAR</servlet-name>
        <url-pattern>/sidebar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FOOTER</servlet-name>
        <url-pattern>/footer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CONNEXION</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>INSCRIPTION</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/Profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletConnexion</servlet-name>
        <url-pattern>/servletConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarreDeRecherche</servlet-name>
        <url-pattern>/BarreDeRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUploadVideo</servlet-name>
        <url-pattern>/ServletUploadVideo</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
</web-app>
